<%= turbo_frame_tag 'next_steps_frame' do %>
  <% unless next_steps.blank? %>
    <table class="my-4
                  border
                  border-gray-300
                  dark:border-gray-700
                  dark:text-white
                  w-full xl:w-2/3">
      <caption class="text-lg">
        <%= caption %>
      </caption>
      <thead>
        <tr class="border-b-4 border-gray-300 dark:border-gray-700">
          <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:done) %></th>
          <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:description) %></th>
          <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:due) %></th>
          <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:edit) %></th>
          <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:delete) %></th>
        </tr>
      </thead>
      <tbody>
        <% next_steps.each do |next_step| %>
          <tr>
            <td class="p-3 border border-gray-300 dark:border-gray-700"><%= next_step.done %></td>
            <td class="p-3 border border-gray-300 dark:border-gray-700"><%= next_step.description %></td>
            <td class="p-3 border border-gray-300 dark:border-gray-700"><%= next_step.due&.strftime('%Y-%m-%d %H:%M') %></td>
            <td class="p-3 border border-gray-300 dark:border-gray-700 dark:invert">
              <%= render partial: 'next_steps/update_dialog', locals: { next_step: next_step } %>
            </td>
            <td class="p-3 border border-gray-300 dark:border-gray-700 dark:invert">
              <%= render partial: 'next_steps/delete_dialog', locals: { next_step: next_step } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
