<%= render 'layouts/flash' %>
<%= render 'positions/update_dialog' %>
<div class="dark:text-white mt-2">
  <h2 class="text-2xl"><%= @position.name %> at <%= link_to @position.company.name, company_path(@position.company) %></h2>
  <% unless @position.already_applied?(Current.user) %>
    <%= button_to 'Apply',
                  position_apply_path,
                  params: { position: { position_id: @position.id } },
                  class: 'rounded-md
                          px-3.5 py-1
                          bg-green-600
                          hover:bg-green-500
                          text-white
                          inline-block
                          font-medium
                          cursor-pointer' %>
  <% end %>
  <div class="mt-2 p-2">
    <h3 class="text-xl mb-2"><%= t(:position_information) %></h3>
    <p class="mb-1"><strong><%= t(:name) %>:</strong> <%= @position.name %></p>
    <p class="mb-1"><strong><%= t(:pay_start) %>:</strong> <%= @position.pay_start %></p>
    <p class="mb-1"><strong><%= t(:pay_end) %>:</strong> <%= @position.pay_end %></p>
    <p class="mb-1"><strong><%= t(:location) %>:</strong> <%= @position.location %></p>
    <p><strong><%= t(:job_description) %>:</strong></p>
    <%= @position.description %>
  </div>
</div>
