<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           self-center
           justify-self-center
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: t(:new_person) } %>
    <%= form_with model: @person, url: people_path do |form| %>
      <%= render partial: 'people/person_form',
          locals: {
            form: form,
            company: @person.company
          }
      %>
      <%= render partial: 'layouts/form_components/form_button', locals: { form: form, button_text: t(:add) } %>
    <% end %>
  </dialog>

  <%= render partial: 'layouts/dialog_components/open_button', locals: { button_text: t(:add_person) } %>
</div>
