<%= render 'layouts/flash' %>
<div class="flex justify-between">
  <%= render 'interviews/update_dialog' %>
  <%= render 'interviews/delete_dialog' %>
</div>
<div class="dark:text-white mt-2">
  <h2 class="text-2xl">
    <%= t(:interview_for) %>
    <%= link_to "#{@interview.job_application.position_name} #{t(:at)} #{@interview.job_application.company_name}",
                job_application_path(@interview.job_application),
                class: 'underline'
    %>
  </h2>
  <p><strong><%= t(:interview_start) %>:</strong> <%= @interview.interview_start.strftime('%Y-%m-%d %H:%M') %></p>
  <p><strong><%= t(:interview_end) %>:</strong> <%= @interview.interview_end.strftime('%Y-%m-%d %H:%M') %></p>
  <p><strong><%= t(:location) %>:</strong> <%= @interview.location %></p>
</div>

<% unless @interview.interview_questions.blank? %>
  <%= render 'interview_questions/interview_question_table' %>
<% end %>

<div class="mt-4">
  <%= render 'interview_questions/add_dialog' %>
</div>

<% unless @interview.job_application.next_steps.blank? %>
  <div class="mt-4">
    <%= render partial: 'next_steps/next_steps_table',
              locals: {
                caption: 'Next Steps',
                next_steps: @interview.job_application.next_steps
              }
    %>
  </div>
<% end %>

<% unless @interview.interviewers.blank? %>
  <div class="mt-4">
    <%= render partial: 'interviewers/interviewer_table', locals: { interviewers: @interview.interviewers } %>
  </div>
<% end %>

<div class="mt-4">
  <%= render 'interviewers/add_dialog' %>
</div>
