<%= render 'layouts/flash' %>
<div class="flex justify-between">
  <%= render partial: 'layouts/dialog_components/form_dialog',
             locals: {
               title: t(:update_interview),
               model: @interview,
               path: interview_path(@interview),
               form_partial: '/interviews/interview_form',
               add_button_text: t(:update),
               open_button_text: t(:update_interview)
             }
  %>
  <%= render 'interviews/delete_dialog' %>
</div>
<div class="dark:text-white mt-2">
  <h2 class="text-2xl">
    <%= t(:interview_for) %>
    <%= link_to "#{@interview.job_application.position_name} #{t(:at)} #{@interview.job_application.company_name}",
                job_application_path(@interview.job_application),
                class: 'underline'
    %>
  </h2>
  <p><strong><%= t(:interview_start) %>:</strong> <%= @interview.interview_start.strftime('%Y-%m-%d %H:%M') %></p>
  <p><strong><%= t(:interview_end) %>:</strong> <%= @interview.interview_end.strftime('%Y-%m-%d %H:%M') %></p>
  <p><strong><%= t(:location) %>:</strong> <%= @interview.location %></p>
</div>

<% unless @interview.interview_questions.blank? %>
  <%= render 'interview_questions/interview_question_table' %>
<% end %>

<div class="mt-4">
  <%= render partial: 'layouts/dialog_components/form_dialog',
              locals: {
                title: t(:new_interview_question),
                model: @interview_question,
                path: interview_questions_path,
                form_partial: '/interview_questions/interview_question_form',
                add_button_text: t(:add),
                open_button_text: t(:add_question)
              }
  %>
</div>

<%= render partial: 'next_steps/component', locals: { next_steps: @interview.next_steps_ordered } %>

<% unless @interview.interviewers.blank? %>
  <div class="mt-4">
    <%= render partial: 'interviewers/interviewer_table', locals: { interviewers: @interview.interviewers } %>
  </div>
<% end %>

<div class="mt-4">
  <%= render 'interviewers/add_dialog' %>
</div>
