<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <div class="flex justify-between">
      <h1 class="mt-1 text-xl"><%= t(:update_person) %></h1>
      <button
        type="button"
        data-action="dialog#close"
        class="rounded-lg
               bg-red-500
               px-3.5 py-1
               mt-1"
        autofocus>
        <%= t(:close) %>
      </button>
    </div>
    <%= form_with model: person do |form| %>
        <%= render partial: 'person/person_form',
            locals: {
              form: form,
              company: person.company
            }
        %>
      <%= form.button t(:update),
                      id: "person-#{person.id}-update",
                      class: 'mt-4
                              rounded-md
                              px-3.5 py-1
                              bg-blue-600
                              hover:bg-blue-500
                              text-white
                              inline-block
                              font-medium
                              cursor-pointer'
      %>
    <% end %>
  </dialog>

  <button
    type="button"
    data-action="dialog#open"
    id="person-<%= person.id %>-edit">
    <%= image_tag("pencil-square.svg", alt: t(:update)) %>
  </button>
</div>
