<table class="mt-4
              border
              border-gray-300
              dark:border-gray-700
              dark:text-white
              w-full xl:w-2/3">
  <caption class="text-lg">
    <%= caption %>
  </caption>
  <thead>
    <tr class="border-b-4 border-gray-300 dark:border-gray-700">
      <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:position) %></th>
      <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:company) %></th>
    </tr>
  </thead>
  <tbody>
    <% applications.each do |application| %>
      <tr>
        <td class="p-3 border border-gray-300 dark:border-gray-700"><%= link_to application.position_name, job_application_path(application), class: 'block' %></td>
        <td class="p-3 border border-gray-300 dark:border-gray-700"><%= link_to application.company_name, company_path(application.company), class: 'block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-4">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
