<div>
  <ul class="mt-2">
    <%= render partial: 'layouts/form_components/text_field',
                locals: {
                  form: form,
                  field: :source,
                  field_name: t(:source),
                  required: true
                } %>
    <%= render partial: 'layouts/form_components/date_field',
                locals: {
                  form: form,
                  field: :applied,
                  field_name: t(:applied),
                  required: false
                } %>
    <%= render partial: 'layouts/form_components/date_field',
                locals: {
                  form: form,
                  field: :accepted,
                  field_name: t(:accepted),
                  required: false
                } %>
    <%= render partial: 'layouts/form_components/textarea_field',
                locals: {
                  form: form,
                  field: :note,
                  field_name: t(:notes),
                  required: false
                } %>
    <li class="mt-2">
      <%= t(:cover_letter) %>:  <%= form.file_field :cover_letter %>
    </li>
  </ul>
</div>