<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: "#{t(:update)} #{@job_application.position_name}" } %>
    <%= form_with model: @job_application do |form| %>
      <div>
        <ul class="mt-2">
          <%= render partial: 'layouts/form_components/text_field',
                      locals: {
                        form: form,
                        field: :source,
                        field_name: t(:source),
                        required: true
                      } %>
          <%= render partial: 'layouts/form_components/date_field',
                      locals: {
                        form: form,
                        field: :applied,
                        field_name: t(:applied),
                        required: false
                      } %>
          <%= render partial: 'layouts/form_components/date_field',
                      locals: {
                        form: form,
                        field: :accepted,
                        field_name: t(:accepted),
                        required: false
                      } %>
          <%= render partial: 'layouts/form_components/textarea_field',
                      locals: {
                        form: form,
                        field: :note,
                        field_name: t(:notes),
                        required: false
                      } %>
          <li class="mt-2">
            <%= t(:cover_letter) %>:  <%= form.file_field :cover_letter %>
          </li>
        </ul>
      </div>
      <%= render partial: 'layouts/form_components/form_button', locals: { form: form, button_text: t(:update) } %>
    <% end %>
  </dialog>

  <%= render partial: 'layouts/dialog_components/open_button', locals: { button_text: t(:update_job_application) } %>
</div>
