<div class="dark:text-white">
  <h2 class="text-2xl">Job application</h2>
  <div class="mt-2 p-2">
    <h3 class="text-xl">Position</h3>
    <p><strong>Job title:</strong> <%= @job_application.position.name %></p>
    <p><strong>Job description:</strong> <%= @job_application.position.description %></p>
    <p><strong>Pay start:</strong> <%= @job_application.position.pay_start %></p>
    <p><strong>Pay end:</strong> <%= @job_application.position.pay_end %></p>
  </div>
  <div class="mt-2 p-2">
    <h3 class="text-xl">Company</h3>
    <p><strong>Company name:</strong> <%= @job_application.position.company.name %></p>
    <p><strong>Friendly name:</strong> <%= @job_application.position.company.friendly_name %></p>
    <p><strong>Description:</strong> <%= @job_application.position.company.description %></p>
  </div>
</div>
