<%= render 'layouts/flash' %>

<div class="flex justify-between">
  <%= render 'new_job_application_form' %>
  <%= link_to t(:companies),
    companies_path,
    class: "rounded-md
            px-3.5 py-1
            bg-green-600
            hover:bg-green-500
            text-white
            inline-block
            font-medium
            cursor-pointer"
  %>
</div>
<%= render partial: 'job_application/applications_table',
            locals: {
              applications: @active_applications,
              caption: t(:active_applications)
            }
%>
<div class="mt-4">
  <%= link_to t(:all_applications),
    job_application_index_path,
    class: "rounded-md
            px-3.5 py-1
            bg-blue-600
            hover:bg-blue-500
            text-white
            inline-block
            font-medium
            cursor-pointer"
  %>
</div>
