<%= render 'layouts/flash' %>
<div class="dark:text-white mt-2">
  <h1 class="text-2xl"><%= t(:settings) %></h1>
  <% if !@user.exporting_job_applications %>
    <%= button_to @user.job_application_export.present? ? t(:reexport_job_applications) : t(:export_job_applications),
      export_job_applications_path,
      class: 'mt-6
              rounded-md
              px-3.5 py-1
              bg-green-600
              hover:bg-green-500
              text-white
              inline-block
              font-medium
              cursor-pointer'
    %>

    <% if @user.job_application_export.present? %>
      <%= link_to t(:download_job_applications),
        url_for(@user.job_application_export),
        class: 'mt-4
                rounded-md
                px-3.5 py-1
                bg-blue-600
                hover:bg-blue-500
                text-white
                inline-block
                font-medium
                cursor-pointer'
      %>
    <% end %>
  <% else %>
    <p class="mt-6">
      <%= t(:export_in_progress) %>
    </p>
  <% end %>

  <div class="mt-12">
    <h2 class="text-xl mb-2"><%= t(:import_job_applications) %></h2>
    <%= form_with model: @user, url: import_job_application_path(@user) do |form| %>
      <ul>
        <%= render partial: 'layouts/form_components/file_field', locals: { form: form, field: :job_application_import, field_name: "#{t(:job_applications_file)}:", accept: 'text/csv'} %>
      </ul>
      <%= render partial: 'layouts/form_components/form_button', locals: { form: form, button_text: t(:upload_job_applications) } %>
    <% end %>
  </div>
</div>
