<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           self-center
           justify-self-center
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: t(:update_interview_question) } %>
    <%= form_with model: question do |form| %>
      <%= render partial: '/interview_questions/interview_question_form', locals: { form: form } %>
      <%= render partial: 'layouts/form_components/form_button', locals: { form: form, button_text: t(:update_question) } %>
    <% end %>
  </dialog>

  <button
    type="button"
    data-action="dialog#open"
    id="interview-question-<%= question.id %>-edit">
    <%= image_tag("pencil-square.svg", alt: t(:update)) %>
  </button>
</div>
