<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: t(:new_company) } %>
    <%= form_with model: @new_company, url: companies_path do |form| %>
      <%= render partial: 'companies/company_form', locals: { form: form } %>
      <%= render partial: 'layouts/form_components/form_button', locals: { form: form, button_text: t(:add_company) } %>
    <% end %>
  </dialog>

  <%= render partial: 'layouts/dialog_components/open_button', locals: { button_text: t(:new_company) } %>
</div>
