<div>
  <ul class="mt-2">
    <%= render partial: 'layouts/form_components/text_field',
                locals: {
                  form: form,
                  field: :name,
                  field_name: t(:position_name),
                  required: true
                } %>
    <%= render partial: 'layouts/form_components/textarea_field',
                locals: {
                  form: form,
                  field: :description,
                  field_name: t(:description),
                  required: false
                } %>
    <%= render partial: 'layouts/form_components/number_field',
                locals: {
                  form: form,
                  field: :pay_start,
                  field_name: t(:pay_start),
                  min: 0,
                  required: false
                } %>
    <%= render partial: 'layouts/form_components/number_field',
                locals: {
                  form: form,
                  field: :pay_end,
                  field_name: t(:pay_end),
                  min: 0,
                  required: false
                } %>
    <li class="mt-2">
      <%= t(:location) %>:
      <% Position.locations.keys.each do |location| %>
        <%= form.radio_button :location, location %>
        <%= form.label "location_#{location}", t(location.to_sym) %>
      <% end %>
    </li>
    <%= form.hidden_field :company_id, value: @position.company.id %>
  </ul>
</div>
