<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: "#{t(:update)} #{@company.name}" } %>
    <%= form_with model: @company do |form| %>
      <%= render partial: 'company/company_form', locals: { form: form } %>
      <%= form.button t(:update), class: 'mt-8
                                          rounded-md
                                          px-3.5 py-1
                                          bg-blue-600
                                          hover:bg-blue-500
                                          text-white
                                          inline-block
                                          font-medium
                                          cursor-pointer' %>
    <% end %>
  </dialog>

  <%= render partial: 'layouts/dialog_components/open_button', locals: { button_text: t(:update_company) } %>
</div>
