<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: t(:new_interview_question) } %>
    <%= form_with model: @interview_question, url: interview_question_index_path do |form| %>
      <%= render partial: '/interview_question/interview_question_form', locals: { form: form } %>
      <%= form.button t(:add), class: 'mt-8
                                       rounded-md
                                       px-3.5 py-1
                                       bg-blue-600
                                       hover:bg-blue-500
                                       text-white
                                       inline-block
                                       font-medium
                                       cursor-pointer'
      %>
    <% end %>
  </dialog>

  <button
    type="button"
    data-action="dialog#open"
    class="rounded-md
           px-3.5 py-1
           bg-blue-600
           hover:bg-blue-500
           text-white
           inline-block
           font-medium
           cursor-pointer">
    <%= t(:add_question) %>
  </button>
</div>
