<table class="mt-4
              border
              border-gray-300
              dark:border-gray-700
              dark:text-white
              w-full xl:w-2/3">
  <caption class="text-lg">
    <%= t(:interview_questions) %>
  </caption>
  <thead>
    <tr class="border-b-4 border-gray-300 dark:border-gray-700">
      <th></th>
      <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:question) %></th>
      <th class="p-2 border border-gray-300 dark:border-gray-700"><%= t(:answer) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @interview.interview_questions.each do |question| %>
      <tr>
        <td class="p-3 border border-gray-300 dark:border-gray-700 dark:invert">
          <%= render partial: '/interview_question/update_dialog', locals: { question: question } %>
        </td>
        <td class="p-3 border border-gray-300 dark:border-gray-700"><%= question.question %></td>
        <td class="p-3 border border-gray-300 dark:border-gray-700"><%= question.answer %></td>
        <td class="p-3 border border-gray-300 dark:border-gray-700 dark:invert">
          <%= render partial: '/interview_question/delete_dialog', locals: { question: question } %>
        </td>
    <% end %>
  </tbody>
</table>
