<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: t(:update_interview) } %>
    <%= form_with model: @interview do |form| %>
      <%= render partial: '/interview/interview_form', locals: { form: form } %>
      <%= render partial: 'layouts/form_components/form_button', locals: { form: form, button_text: t(:update) } %>
    <% end %>
  </dialog>

  <%= render partial: 'layouts/dialog_components/open_button', locals: { button_text: t(:update_interview) } %>
</div>
